@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F9F4E8;
    color: black;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}
.one {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
.sec1, .sec2, .sec3 {
    display: flex;
    gap: 1vw;
}
 .join {
    border: none;
    border-radius: 5px;
    background-color: #4977EA;
    color: white;
    padding: 15px;
}
.btn {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   padding-right: 10px;
   padding-left: 10px;
   padding-top: 2px;
   padding-bottom: 2px;
   border: none;
   color: white;
   background-color: #EA945C;
   height: 4vh;
}
.rocket {
    height: 4vh;
}
.sec3 button {
    margin-top: -12px;
}
.two {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}
.two h1 {
    padding-bottom: 20px;
}
.input {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    padding: 15px;
    padding-right: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
}
.tick {
    display: flex;
    gap: 15px;
}
.tick p {
    margin-top: 4px;
}
h1 {
    font-size: 6vh;
}
.three {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    gap: 20vw;
}
.face, .avatar {
    display: flex;
    gap: 2vw;
}
span {
    font-weight: bold;
}
button {
    transition: 0.5s;
}
button:hover {
    transform: scale(1.1);
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@media screen and (max-width: 600px) {
    body {
        padding: 15px;
        
    }
    .btn {
        height: 5vh;
        font-size: 2vh;
    }
    .sec2, .sec3 {
        display: none;
    }
    .two {
        display: flex;
        flex-direction: column-reverse;
    }
    form {
        display: flex;
        padding-top: 5px;
        padding-bottom: 40px;
        flex-direction: column;
        justify-content: center;
        margin: 3px;
    }
    .three {
        display: flex;
        flex-direction: column;
        gap: 8vw;
    }
    .girl {
        height: 40vh;
        margin-top: -50px;
        margin-bottom: -20px;
    }
    .sec1 {
        margin-left: -10px;
        gap: 3vw;
    }
    h1 {
        padding-top: 60px;
    }
    .input {
        margin-right: 0.1vw;
    }
    .join {
        margin-right: 0.1vw;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin-left: 10px;
    }
    form {
        margin-right: 10px;
    }
    .btn {
        height: 5vh;
    }
}
